@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Empiezan estilos formulario */


.img-contacto {
    border-radius: 20px;
    height: 100%;
    width: 100%;
    object-fit: cover; 
    display: block;
}

.form-floating#mensaje-form > .form-control {
    height: 150px !important;
    min-height: 150px !important;
}

.titulo {
  margin-top: 20px;
}


/* Termina estilos formulario */



