@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Empiezan estilos formulario */

.img-contacto {
    border-radius: 20px;
    height: 100%;
    width: 100%;
    object-fit: cover; 
    display: block;
}

.form-floating#mensaje-form > .form-control {
    height: 150px !important;
    min-height: 150px !important;
}

.titulo {
  margin-top: 20px;
}

/* Termina estilos formulario */

/* INPUTS CONTACTENOS  */

@media (min-width: 768px) {
    #formContactenos .form-floating {
        width: 80%;
        margin: 0 auto;
    }
}

#formContactenos .form-floating {
    display: flex;
    justify-content: center;
    position: relative; 
    margin-bottom: 0.5rem; 
}

/* INPUTS */
#formContactenos .form-floating > .form-control,
#formContactenos .form-floating > textarea {
    height: 42px !important;
    padding-top: 1.1rem !important;
    padding-bottom: 0.25rem !important;
}

/* Textarea mensaje */
#formContactenos textarea {
    height: 90px !important;
}

/* LABEL */
#formContactenos .form-floating > label {
    padding: 0.6rem 1rem !important;
    top: 0.35rem;
}

#formContactenos .form-floating > .form-control:focus,
#formContactenos .form-floating > .form-control:not(:placeholder-shown),
#formContactenos .form-floating > textarea:focus,
#formContactenos .form-floating > textarea:not(:placeholder-shown) {
    padding-top: 1.35rem !important;
}


.error-message {
    position: absolute;
    bottom: -20px;
    left: 0;
    font-size: 0.875rem;
    color: #dc3545;
    margin: 0;
    padding-left: em;
}

#formContactenos .form-floating.has-error {
    margin-bottom: 1.5rem;
}

#mensaje-form label::after {
    background-color: transparent !important;
}

/* Conservar el color de texto y fondo en los campos del formulario */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {

    -webkit-text-fill-color: #ffffff !important; /* texto blanco */
    caret-color: #ffffff;

    -webkit-box-shadow: 0 0 0 30px #2ab7ae inset !important;
    box-shadow: 0 0 0 30px #2ab7ae inset !important;

    background-color: #2ab7ae !important;

    transition: background-color 9999s ease-in-out 0s;
}