@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Empiezan estilos formulario */

.form-floating .boton-enviar{
    background: #F08E3A;
    color: #1E2A2A;
    font-weight: 700;
    padding: 10px 25px;
    border-radius: 40px;
    font-size: 1.1rem;
    transition: 0.3s;
    border: none;
}

.form-floating .boton-enviar:hover {
    background: #e97502;
    color: white;
}

.img-contacto {
    border-radius: 20px;
    height: 100%;
    width: 100%;
    object-fit: cover; 
    display: block;
}

.form-floating#mensaje-form > .form-control {
    height: 150px !important;
    min-height: 150px !important;
}

.titulo {
  margin-top: 20px;
}


/* Termina estilos formulario */



