.pass-toggle-btn {
    position: absolute !important;
    top: 50% !important;
    right: 10px !important;
    transform: translateY(-50%) !important;
    z-index: 5;
    padding: 8px 12px !important;
    border: none !important;
    background: transparent !important;
    color: #6c757d 
}

.entrada {
    padding-right: 45px;
}