@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* menu */

.menu {
  background: linear-gradient(
    48deg,
    rgb(230, 250, 249) 0%,
    rgba(42, 183, 174, 1) 100%
  );
  padding: 0.5rem 2rem;
}

.logo {
  width: 125px;
}

.nav-link {
  font-family: "Fredoka", sans-serif;
  font-weight: 700 !important;
  color: #1e2a2a !important;
  font-size: 1.5rem;
  padding: 10px 18px !important;
  transition: 0.3s;
}

.nav-link:hover {
  border-bottom: 2px solid #ffffff;
}

.nav-link.active {
  border-bottom: 2px solid #ffffff;
  color: #ffffff !important; 
}

.boton-login {
  background: #f08e3a;
  color: #1e2a2a;
  font-weight: 700;
  padding: 10px 25px;
  border-radius: 40px;
  font-size: 1.1rem;
  transition: 0.3s;
  border: none;
  text-decoration: none;
}

.boton-login:hover {
  background: #e97502;
  color: white;
}

/* textos */

.titulo {
  font-family: "Fredoka", sans-serif;
  font-size: 60px;
  font-weight: 600;
  color: #2ab7ae;
  text-align: center;
}

.subtitulo {
  font-family: "Fredoka", sans-serif;
  font-size: 40px;
  font-weight: 500;
  color: #2ab7ae;
  text-align: center;
}

.subtitulo2 {
  font-family: "Fredoka", sans-serif;
  font-size: 24px;
}

.tercertitulo {
  font-family: "Fredoka", sans-serif;
  font-size: 1.875rem;
  font-weight: 500;
  color: #2ab7ae;
  text-align: center;
}

.parrafo {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #1e2a2a;
  text-align: center;
}

/* formularios */

.contacto{
    box-shadow: 2px 2px 20px rgba(240, 148, 58, 0.3);
    background-color: #E6FAF9;
}

.entrada {
    background-color: #2AB7AE !important;
}

label {
    color: white !important;
}

/* footer */

.footer-custom {
  background: linear-gradient(
    48deg,
    rgba(230, 250, 249, 1) 0%,
    rgba(42, 183, 174, 1) 100%
  );
  color: #1e2a2a;
}

.footer-logo {
  width: 140px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-icon {
  font-size: 22px;
  color: #1e2a2a;
}

.info-title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 2px;
  color: #1e2a2a;
}

.info-text {
  margin: 0;
  font-size: 14px;
  color: #1e2a2a;
}

.footer-copy {
  background-color: #1e2a2a;
  color: #fff;
  font-size: 14px;
}

.social-icons {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  text-decoration: none;
  color: #1e2a2a;
  margin-top: 0;
  cursor: pointer;
}

@media (max-width: 576px) {
  .info-item {
    justify-content: center;
    text-align: center;
  }
  .footer-logo {
    margin-bottom: 20px;
  }

  .titulo {
    font-size: 50px;
  }
}

@media (max-width: 767px) {
    .social-icons {
    flex-direction: row;
    gap: 16px;
  }
}
