@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu {
    background: linear-gradient(90deg,rgba(230, 250, 249, 1) 0%, rgba(42, 183, 174, 1) 100%);
}

.logo {
    width: 160px;
}

li {
    font-family: "Fredoka", sans-serif;
    font-weight: bold;
}