@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



















































































.list-style {
    width: 15px; 
    padding-bottom: 5px;
    padding-right: 2px
}

.lista-valores {
    list-style: none;
}



