
/* Ocultar el ojo que trae el navegador */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

input[type="password"]::-webkit-textfield-decoration-container {
    display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button {
    display: none;
}

input[type="password"] {
    appearance: none;
    -webkit-appearance: none;
}

.password-container {
    position: relative;
}

.password-toggle {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2rem;
    color: #333;
}


.container-registro{
    border: 0.5px dotted #9CECE6;
    box-shadow: 2px 2px 20px rgba(240, 148, 58, 0.3);
    background-color: #E6FAF9;
}

