
/* Ocultar el ojo que trae el navegador */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

input[type="password"]::-webkit-textfield-decoration-container {
    display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button {
    display: none;
}

input[type="password"] {
    appearance: none;
    -webkit-appearance: none;
}

.password-container {
    position: relative;
}

.password-toggle {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2rem;
    color: #333;
}


.container-registro{
    border: 0.5px dotted #9CECE6;
    box-shadow: 2px 2px 20px rgba(240, 148, 58, 0.3);
    background-color: #E6FAF9;
}


/* REGISTRO – INPUTS PROPORCIONALES */



@media (min-width: 768px) {
    .form-registro .column-form > .d-flex {
        max-width: 900px;   
        margin-left: auto;
        margin-right: auto;
    }
}

/* Altura  */
.form-registro .form-floating > .form-control {
    height: 38px !important;
    padding-top: 1.1rem !important;
    padding-bottom: 0.25rem !important;
}

/* Label */
.form-registro .form-floating > label {
    top: 0.35rem;
    padding: 0 0.75rem !important;
}
 
.form-registro .form-floating > .form-control:focus,
.form-registro .form-floating > .form-control:not(:placeholder-shown) {
    padding-top: 1.35rem !important;
}
