.fecha-box {
    margin-top: 8px;
    padding: 10px;
    background: #f3f3f3;
    border-left: 4px solid #00A884;
    border-radius: 4px;
    font-size: 15px;
}

@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#servicio-reservado {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
}

.agendar {
    background-color: #E6FAF9;
    width: 500px;
}

.agendar a {
    text-align: center;
    text-decoration: none;
}