@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}


.card-servicio {
  background-color: #E6FAF9;
  max-width: 360px;
  width: 100%;
}

.dog-mask {
    width: 200px;
    height: 200px;
    aspect-ratio: 1 / 1;
    position: relative;
    padding: 10px;
}

/* BORDE / GLOW */
.dog-mask::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #2ab7ae;
    filter: blur(2px);
    mask-image: url("../IMG/forma-imagen.png");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-image: url("../IMG/forma-imagen.png");
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}

/* IMAGEN */
.dog-mask img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;

    mask-image: url("../IMG/forma-imagen.png");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;

    -webkit-mask-image: url("../IMG/forma-imagen.png");
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}


.btn-size {
  border: 2px solid #2ab7ae;
  background: transparent;
  padding: 3px 12px;
  border-radius: 20px;
  cursor: pointer;
  color: #1e2a2a;
}

.btn-size.active {
  background: #2ab7ae;
  color: white;
}

.precio-final {
  color: #1e2a2a;
}


