@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.Básicos {
  color: #1e2a2a;
}

.Premium {
  color: #f08e3a;
}

.card-servicio-basico {
  background-color: #2ab7ae;
}

.img-básicos {
  width: 200px;
}

.card-servicio-premium {
  background-color: #E6FAF9;
}

.descripcion {
  display: -webkit-box;
  -webkit-line-clamp: 3;  
  line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 0;
}

.descripcion.expandido {
  -webkit-line-clamp: unset;
  line-clamp: unset; 
  overflow: visible;
}

.ver-mas {
  color: #2cb1a3;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  margin-top: 6px;
}


.lista-valores {
  list-style: none;
  text-align: left;
}

.list-style {
  width: 15px;
  height: 15px;
  padding-bottom: 5px;
  padding-right: 2px;
}
