@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;

  /* Empiezan estilos slide */


  .previous,
  .next {
    background-color: #f08e3a;
    padding: 5px 10px;
    font-size: 30px;
    border-radius: 50%;
  }

  .carousel-item {
    height: 85vh;
  }

  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .carousel-caption {
    background: rgba(255, 255, 255, 0.507);
    border-radius: 40px;
  }

  .carousel-caption h5 {
    font-size: 60px;
    color: #2ab7ae;
    font-family: "Fredoka", sans-serif;
  }

  .carousel-caption p {
    font-size: 16px;
    color: #1e2a2a;
  }

  /* Termina estilos slide */

  /* Empiezan estilos servicios destacados */
  .inicio {
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inicio .container {
    max-width: 900px;
    /* Controla el ancho m치ximo del contenedor */
    width: 100%;
  }

  .textoInicio {
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    color: #1e2a2a;
    text-align: justify;
    font-weight: 600;
    line-height: 1.6;
    /* Mejora la legibilidad */
    margin: 0 auto;
    /* Centra el texto */
  }

  .titulo {
    font-family: "Fredoka", sans-serif;
    font-size: 38px;
    font-weight: 600;
    color: #2ab7ae;
    margin-bottom: 0;
    padding: 20px;
  }

  .subTitulo {
    font-family: "Fredoka", sans-serif;
    font-size: 34px;
    font-weight: 600;
    color: #2ab7ae;
    margin-bottom: 0;
  }

  .subtituloServicios {
    font-family: "Fredoka", sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 0;
  }

  .textoServicios {
    font-family: "Fredoka", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 0;
  }

  .boton-login a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
  }

  /*.btn-servicios{
  background: #f08e3a;
  color: #1e2a2a;
  font-weight: 700;
  padding: 10px 10px;
  border-radius: 40px;
  font-size: 1.1rem;
  transition: 0.3s;
  border: none;
  width: 150px;
  justify-content: center;
  text-align: center;
}

.btn-servicios:hover{
  color: white;
}
*/
  .servicios {
    color: #f08e3a;
    font-family: "Fredoka", sans-serif;
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 0;
  }

  .card-servicio-basico {
    background-color: #2ab7ae;
  }

  .img-b치sicos {
    width: 200px;
  }

  .card-servicio-premium {

    background-color: #2ab7ae;

  }

  .lista-valores {
    list-style: none;
  }

  .list-style {
    width: 15px;
    height: 15px;
    padding-bottom: 5px;
    padding-right: 2px;
  }

  /* Terminan estilos servicios destacados */

  /* Para pantallas m치s peque침as */
  @media (max-width: 768px) {
    .inicio .container {
      max-width: 100%;
      padding: 0 15px;
    }

    .textoInicio {
      font-size: 16px;
    }

    .carousel-caption h5 {
      font-size: 35px;
    }
  }