@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");


/* Comienzan estilos testimonios */
/*
.carousel-control-prev,
.carousel-control-next {
  width: 50px;
  opacity: 1;
}

/*
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(240,142,58, 0.5);
  border-radius: 50%;
  padding: 20px;
}
        
.carousel-indicators {
  margin-bottom: -30px;
}
        
.carousel-indicators button {
  background-color: #F08E3A;
}
        
.carousel-item {
  display: flex;
  gap: 20px;  
}

.custom-prev,
.custom-next {
  position: absolute;
  top: 30%; 
  transform: translateY(-50%); 
}

.custom-prev {
  left: -50px; 
}

.custom-next {
  right: -50px; 
}

#carouselCards {
  padding-left: 60px; 
  padding-right: 60px; 
}
*/
        
/* Responsivo */

/*@media (max-width: 992px) {
  .card {
    height: 380px;
  }
}
        
@media (max-width: 768px) {
  .carousel-container {
    padding: 0 20px;    
  }
            
  .card {
    margin: 0 5px;
    height: 400px;
  }
}
*/
/*
.h1.fredoka-semi-bold {
  font-family: "Fredoka", sans-serif;
  font-weight: 600;
  font-size: 60px;
  color: #2ab7ae;
}
/*
.card {
    min-width: calc((100% - 40px) / 3);
    width: 375px;
    flex-shrink: 0;
    border-radius: 12px;
}

.card-body {
  padding: 25px;
  display: flex;
  flex-direction: column;
  background-color: #9CECE6;
  height: 200px;
}

.card-title {
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #1e2a2a;
    text-align: center;
    margin-bottom: 15px;
}

.card-text {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #1e2a2a;
  text-align: center;
  margin-top: 5px;
  line-height: 1.6;
  flex-grow: 1;
  overflow: hidden;
}


.card h2 {
    color: #333;
    font-size: 24px;
    margin: 0;
}

.card p {
    color: #666;
    line-height: 1.6;
    font-size: 16px;
}
*/