@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.menu {
  background: linear-gradient(
    48deg,
    rgba(230, 250, 249, 1) 0%,
    rgba(42, 183, 174, 1) 100%
  );
  padding: 0.5rem 2rem;
}

.logo {
  width: 125px;
}

.nav-link {
  font-family: "Fredoka", sans-serif;
  font-weight: 700 !important;
  color: #1e2a2a !important;
  font-size: 1.5rem;
  padding: 10px 18px !important;
  border-radius: 10px;
  transition: 0.3s;
}

.nav-link:hover {
  background: #e6faf94d;
}

.nav-link.active {
  background: white !important;
  color: #2ab7ae !important;
  border-radius: 10px;
}

.boton-login {
  background: #f08e3a;
  color: #1e2a2a;
  font-weight: 700;
  padding: 10px 25px;
  border-radius: 40px;
  font-size: 1.1rem;
  transition: 0.3s;
  border: none;
}

.boton-login:hover {
  background: #e97502;
  color: white;
}

.titulo {
  font-family: "Fredoka", sans-serif;
  font-size: 60px;
  font-weight: 600;
  color: #2ab7ae;
  text-align: center;
  margin-top: 20px;
}

.custom-tab {
  color: #1e2a2a !important;
  margin-right: 1.5rem;
  border: 1px solid transparent;
  border-radius: 5px 5px 0 0;
  padding: 8px 20px !important;
  cursor: pointer;
}

.custom-tab.seleccion {
  border: 1px solid #dee2e6 !important;
  border-bottom: 1px solid white !important;
  color: #2AB7AE !important;
}

.subtitulo {
  font-family: "Fredoka", sans-serif;
  font-size: 40px;
  font-weight: 500;
  color: #2ab7ae;
  text-align: center;
}


.footer-custom {
  background: linear-gradient(
    48deg,
    rgba(230, 250, 249, 1) 0%,
    rgba(42, 183, 174, 1) 100%
  );
  color: #1e2a2a;
}

.footer-logo {
  width: 140px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-icon {
  font-size: 22px;
  color: #1e2a2a;
}

.info-title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 2px;
  color: #1e2a2a;
}

.info-text {
  margin: 0;
  font-size: 14px;
  color: #1e2a2a;
}

.footer-copy {
  background-color: #1e2a2a;
  color: #fff;
  font-size: 14px;
}

.social-icons {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  text-decoration: none;
  color: #1e2a2a;
  margin-top: 0;
  cursor: pointer;
}

@media (max-width: 576px) {
  .info-item {
    justify-content: center;
    text-align: center;
  }
  .footer-logo {
    margin-bottom: 20px;
  }

  .titulo {
    font-size: 50px;
  }
}

@media (max-width: 767px) {
    .social-icons {
    flex-direction: row;
    gap: 16px;
  }
}